@import "tailwindcss";
/* Font utility classes */
.font-lobster {
  font-family: "Lobster Two", cursive;
}

.font-uncial {
  font-family: "Uncial Antiqua", serif;
}

.font-lora {
  font-family: "Lora", serif;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

.font-eater {
  font-family: "Eater", cursive;
}
