@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700');
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
/* Font utility classes */
.font-lobster {
	font-family: 'Lobster Two', cursive;
}

.font-uncial {
	font-family: 'Uncial Antiqua', serif;
}

.font-lora {
	font-family: 'Lora', serif;
}

.font-dancing {
	font-family: 'Dancing Script', cursive;
}

.font-eater {
	font-family: 'Eater', cursive;
}